// Разрешения

$desktop: 1300px;

$primary-color: #000;
$secondary-color: #fff;

$gray_light: #f5f5f5;
$gray_middle: #565D64;
$gray_middle-second: #d2d2d2;
$gray_dark: #2C2624;
$gray: #797979;
$gray-donate: #A9A9A9;
$gray-inactive: #DEDEDE;
$blue: #23BEEC;
$green: #AACF38;
$white_dark: #C7C7C7;
$yellow: #FEC013;
$orange: #F89B20;
$red-invalid: #F82D20;

